.styleBtn {
	padding: 10px;
	margin: 5px;
	background-color: white;
	border: 1px solid deepskyblue;
	cursor: pointer;
}

.found {
	background-color: lightgreen;
	/* display: none; */
}

.missed {
	/* background-color: grey; */
	display: none;
}
